dist/
node_modules/
web/node_modules/
web/dist/
release/
*.zip

# devで一時的にcopyしているだけだから不要
assets/*

keys/

# プロンプト用
prompt.txt

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.cache/


/docs/secret
